{%extends 'dash.html'%}
{%block content%}
<div class="row">
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Manager: </h1>
        <div class="input-group mb-3">
            <input id="locationsearch" type="text" class="form-control" placeholder="Start Location" aria-label="Start Location"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}